<h1>Slick Github Search</h1>
<p>Please <%= link_to 'login', '/auth/github' %> to start searching</p>

<p>This is an awesome search app. You really should login and give it a try!</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus blanditiis dignissimos dolore facere harum ipsa magni optio porro, praesentium, rerum sint tempore unde? Aut fugiat, nisi perspiciatis quia sit tenetur!
</p>