// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$page-left-offset: 3%;
$page-background-color: #bac9e7;
$table-heading-color: #a69cc4;

h3.page-title {
  margin-left: $page-left-offset;
}

.pagination {
  margin-left: $page-left-offset;
  .page-number {
    cursor: pointer;
    padding: 0.1em 0.2em;
    &.current {
      font-weight: bold;
      color: white;
      background-color: #2E2F30;
    }
  }
}

#pagination-form {
  margin-left: $page-left-offset;
}

#results-list {
  font-size: 1.05rem;
  margin-top: 3px;
  margin-left: $page-left-offset;
  padding: 0.2em;
  border-collapse: collapse;
  thead tr {
    background-color: $table-heading-color;
    padding: 4px;
    border-radius: 3px;
    border-bottom: 1px solid darken($table-heading-color, 8%);
    vertical-align: bottom;
  }
  tr {
    vertical-align:top;
    border-bottom: 1px solid darken($page-background-color, 4%);
  }
  td, th {
    text-align: left;
    padding-top: 0.4em;
    padding-left: 0.3em;
    padding-right: 1.1em;
  }
}